main
  section.has-dflex-center
    .lx-container-80
      .lx-row
        .lx-card.carousel-container
          .item.fade
            .image
              img(src="https://bit.ly/34xczKy")
          .item.fade
            .image
              img(src="https://bit.ly/3lkp5DW")
            .text.is-text-left
              h1.title 
                i.far.fa-hand-point-right
                | &nbsp;This item has a title.
              p This item has a caption, aligned to the left.
          .item.fade
            .image
              img(src="https://bit.ly/3iMHuI1")
            .text.is-text-centered
              p 
                i.fas.fa-info-circle
                | &nbsp;This item has a caption, aligned to the center.
          a.prev.has-dflex-center
            i.fas.fa-angle-left
          a.next.has-dflex-center
            i.fas.fa-angle-right
