.navbar{
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
body{
    background-color: aliceblue;
}
body h1, p {
    padding-left: 30px;
}
.main-image img{
    border-radius: 100px;
       /* height: 50vh; */
        display: block;
        margin-left: auto;
        margin-right: auto;
        /*width: 50%;*/
}
main{
    font-family: 'Hind', sans-serif;
}

.main-image{
    align-items: center;
}

.about{
    display: flex;
    justify-content: space-around;
    margin: 30px;
}
.about-blurb {
    text-align: center;
}
