.navbar{
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  body{
    background-color: aliceblue;
  }
  body p {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 18px;
}
  main {
    font-family: 'Hind', sans-serif;
    padding-left: 40px;
  }

  .video-work video{
     height: 100vh; 
  }
 .video-work img {
   height: 50vh;
   padding-left: 30px;
 }

 .video-work {
   display: flex;
   flex-direction: row;
 }
 .video-blurb {
   font-size: 25px;
   font-family: 'Noto Sans TC', sans-serif;
 }
 .video-blurb p {
   padding-left: 30px;
 }


   

 