.navbar{
    font-family: 'Nunito', sans-serif !important;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 10px;
  }
  body{
    background-color: aliceblue;
  }
  body p {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 18px;
}

main{
  font-family: 'Hind', sans-serif;
}

main h1, p {
  padding-left: 30px;
}
/*#featured-written{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.written-card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  display: flex;
  flex-direction: row;
}
.written-card{
  /*display: flex;
  flex-direction:row;*/
  /*border: 10px;
  border-color:black;
}
.written-card > div {
  display: flex;
  flex-direction: column;
  background-color:aquamarine;
  justify-content: center;
  font-size: 20px;
  width: 20%;
}*/
.written-images img{
  height: 50vh;
}
.written-images{
  display: flex;
  flex-direction: row;
  /*width: 30%;*/
  justify-content: space-between;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  border: 10px;
  border-color:rgb(229, 229, 229);
  justify-content: space-between;
}

.written-image{
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  border-style:groove;
  width: 33.3%;
  margin-left: 8px;
}

.written-image img{
  width: 100%;
}
/* THE CODE THAT WORKED OKAY BEFORE*/

.written-footer{
  display: flex;
  flex-direction: row;
  font-family: 'Tiro Telugu', serif;
  font-size: 25px;
  justify-content: space-between;
  margin-left:0px;
  margin-right:0px;
}
.card-footer {
  margin: 20px;
  /*width: 60vh;*/
  padding-bottom: 30px;
  padding-right: 12px;
  border-style:groove;

  justify-content: space-between;
  background-color:whitesmoke;
  margin-top:5px;
  /*margin-left: 5px;*/
  align-items: center;
}
.written-footer > div{
  width: 33.3%;
  width: 60vh;
  /*margin-left: 30px;
  margin-right: 100px;*/
}
/* THE TRIAL CODE*/
/*.written-footer {
  display: flex;
  flex-direction: row;
  font-family: 'Tiro Telugu', serif;
  font-size: 25px;
  margin-right: 20px;
  height: 100vh;
}
.written-footer >div {
  width: 30%;
  justify-content: space-between;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  height: 350px;
}
.card-footer {
  padding-bottom: 30px;
  padding-right: 30px;
  border-style:groove;

  justify-content: space-between;
  background-color:whitesmoke;
  margin-top:5px;
  margin-left: 5px;
}*/

/* KEEP THIS CODE */
.card-footer p, h4, h5{
  padding-left: 20px;
}
/*.written-footer p, h4, h5 {
  background-color:blue;
}*/

.written-blurb{
  padding-left: 30px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 25px;
}
.written-blurb ul{
  font-size: 25px;
}